img {
  max-width: 70vw;
  z-index: 2;
  margin: 2em;
  margin-top: 2em;
  transition: 0.3s;

  padding: 0.7em;
  margin-bottom: 0px;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}
.imageWrap {
  display:flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

}

#expanded {
  transition: 0.3s;

  min-width: 90vw;
  max-width: 90vw;
}

.small {
  max-height: 16vw;
}

.sketch {
  max-height: 16vw;
}

@media (max-width: 500px) {
  img {
    min-height: 30vh;
    max-width: 90vw;
  }
}